@tailwind base;

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LatoBlack';
  src        : url('./assets/fonts/Lexend-Regular.ttf') format('truetype');
}

@layer base {
  :root {
    --background            : 0 0% 100%;
    --foreground            : 222.2 84% 4.9%;
    --card                  : 0 0% 100%;
    --card-foreground       : 222.2 84% 4.9%;
    --popover               : 0 0% 100%;
    --popover-foreground    : 222.2 84% 4.9%;
    --primary               : 222.2 47.4% 11.2%;
    --primary-foreground    : 210 40% 98%;
    --secondary             : 210 40% 96.1%;
    --secondary-foreground  : 222.2 47.4% 11.2%;
    --muted                 : 210 40% 96.1%;
    --muted-foreground      : 215.4 16.3% 46.9%;
    --accent                : 210 40% 96.1%;
    --accent-foreground     : 222.2 47.4% 11.2%;
    --destructive           : 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border                : 214.3 31.8% 91.4%;
    --input                 : 214.3 31.8% 91.4%;
    --ring                  : 222.2 84% 4.9%;
    --radius                : 0.5rem;
    --chart-1               : 12 76% 61%;
    --chart-2               : 173 58% 39%;
    --chart-3               : 197 37% 24%;
    --chart-4               : 43 74% 66%;
    --chart-5               : 27 87% 67%;
    --hover-color           : 210 9% 91%;
    --blue-custom           : 212 95% 54% 1;

    --scrollbar-track      : #f1f1f1;
    --scrollbar-thumb      : #5c9abe;
    --scrollbar-thumb-hover: #555;

    --sidebar-background        : 0 0% 98%;
    --sidebar-foreground        : 240 5.3% 26.1%;
    --sidebar-primary           : 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent            : 240 4.8% 95.9%;
    --sidebar-accent-foreground : 240 5.9% 10%;
    --sidebar-border            : 220 13% 91%;
    --sidebar-ring              : 217.2 91.2% 59.8%;
  }

  .dark {
    --background            : 222.2 84% 4.9%;
    --foreground            : 210 40% 98%;
    --card                  : 222.2 84% 4.9%;
    --card-foreground       : 210 40% 98%;
    --popover               : 222.2 84% 4.9%;
    --popover-foreground    : 210 40% 98%;
    --primary               : 210 40% 98%;
    --primary-foreground    : 222.2 47.4% 11.2%;
    --secondary             : 217.2 32.6% 17.5%;
    --secondary-foreground  : 210 40% 98%;
    --muted                 : 217.2 32.6% 17.5%;
    --muted-foreground      : 215 20.2% 65.1%;
    --accent                : 217.2 32.6% 17.5%;
    --accent-foreground     : 210 40% 98%;
    --destructive           : 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border                : 217.2 32.6% 17.5%;
    --input                 : 217.2 32.6% 17.5%;
    --ring                  : 212.7 26.8% 83.9;
    --chart-1               : 220 70% 50%;
    --chart-2               : 160 60% 45%;
    --chart-3               : 30 80% 55%;
    --chart-4               : 280 65% 60%;
    --chart-5               : 340 75% 55%;
    --hover-color           : 0 0.97% 20.2%;
    --blue-custom           : 212 95% 54% 1;

    --scrollbar-track      : #2b2b2b;
    --scrollbar-thumb      : #5c9abe;
    --scrollbar-thumb-hover: #666;

    --sidebar-background        : 240 5.9% 10%;
    --sidebar-foreground        : 240 4.8% 95.9%;
    --sidebar-primary           : 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent            : 240 3.7% 15.9%;
    --sidebar-accent-foreground : 240 4.8% 95.9%;
    --sidebar-border            : 240 3.7% 15.9%;
    --sidebar-ring              : 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-color: #e5e7eb80 !important;
  }
}

@layer base {
  html {
    font-family: 'LatoBlack', sans-serif;

    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: #f9fafb;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background   : #f97316;
      border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #ea580c;
    }
  }
}

::-webkit-scrollbar {
  width : 5px;
  height: 3px;
}



[data-rmiz-modal-overlay='visible'] {
  background-color: hsl(var(--secondary)) !important;
}

[data-rmiz-modal][open] {
  background: hsl(var(--secondary)) !important;
}

/* Performance optimizations */
* {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optimize animations */
.motion-div {
  will-change: transform;
  transform  : translateZ(0);
}

/* Reduce motion for users who prefer it */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration       : 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration      : 0.01ms !important;
  }
}

/* globals.css */
@keyframes pop-in {
  0% {
    transform: scale(0.6);
    opacity  : 0;
  }

  60% {
    transform: scale(1.03);
    opacity  : 1;
  }

  100% {
    transform: scale(1);
    opacity  : 1;
  }
}

.pop-in {
  animation       : pop-in .38s cubic-bezier(.22, 1, .36, 1);
  transform-origin: center;
  will-change     : transform, opacity;
}

/* Stagger nho nhỏ cho field trong form (tuỳ chọn) */
.pop-child {
  animation: pop-in .38s cubic-bezier(.22, 1, .36, 1);
}

.pop-child:nth-child(1) {
  animation-delay: .02s;
}

.pop-child:nth-child(2) {
  animation-delay: .04s;
}

.pop-child:nth-child(3) {
  animation-delay: .06s;
}

.pop-child:nth-child(4) {
  animation-delay: .08s;
}


.react-flow {
  --xy-background-color : #f7f9fb;
  /* Custom Variables */
  --xy-theme-selected   : #f57dbd;
  --xy-theme-hover      : #c5c5c5;
  --xy-theme-edge-hover : black;
  --xy-theme-color-focus: #e8e8e8;

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #ededed;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;

  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default    : #aaaaaa;

  --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
    /* light shadow */
    0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
    /* medium shadow */
    0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2);
  /* smallest shadow */
  --xy-theme-color-focus: #535353;
}

/* Customizing Default Theming */

.react-flow__node {
  box-shadow      : var(--xy-node-boxshadow-default);
  border-radius   : var(--xy-node-border-radius-default);
  background-color: var(--xy-node-background-color-default);
  display         : flex;
  justify-content : center;
  align-items     : center;
  text-align      : center;
  padding         : 10px;
  font-size       : 12px;
  flex-direction  : column;
  border          : var(--xy-node-border-default);
  color           : var(--xy-node-color, var(--xy-node-color-default));
}

.react-flow__node.selectable:focus {
  box-shadow  : 0px 0px 0px 4px var(--xy-theme-color-focus);
  border-color: #d9d9d9;
}

.react-flow__node.selectable:focus:active {
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
  border-color: var(--xy-theme-hover);
}

.react-flow__node.selectable.selected {
  border-color: var(--xy-theme-selected);
  box-shadow  : var(--xy-node-boxshadow-default);
}

.react-flow__node-group {
  background-color: rgba(207, 182, 255, 0.4);
  border-color    : #9e86ed;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: var(--xy-theme-edge-hover);
}

.react-flow__handle {
  background-color: var(--xy-handle-background-color-default);
}

.react-flow__handle.connectionindicator:hover {
  pointer-events  : all;
  border-color    : var(--xy-theme-edge-hover);
  background-color: white;
}

.react-flow__handle.connectionindicator:focus,
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
  border-color: var(--xy-theme-edge-hover);
}

.react-flow__node-resizer {
  border-radius: 0;
  border       : none;
}

.react-flow__resize-control.handle {
  background-color: #ffffff;
  border-color    : #9e86ed;
  border-radius   : 0;
  width           : 5px;
  height          : 5px;
}

/* 
  Custom Example CSS  - This CSS is to improve the example experience.
  You can remove it if you want to use the default styles.
 
  New Theme Classes:
    .xy-theme__button   - Styles for buttons.
    .xy-theme__input    - Styles for text inputs.
    .xy-theme__checkbox - Styles for checkboxes.
    .xy-theme__select   - Styles for dropdown selects.
    .xy-theme__label    - Styles for labels.
  
  Use these classes to apply consistent theming across your components.
*/

:root {
  --color-primary   : #ff0073;
  --color-background: #fefefe;
  --color-hover-bg  : #f6f6f6;
  --color-disabled  : #76797e;
}

.xy-theme__button-group {
  display    : flex;
  align-items: center;

  .xy-theme__button:first-child {
    border-radius: 100px 0 0 100px;
  }

  .xy-theme__button:last-child {
    border-radius: 0 100px 100px 0;
    margin       : 0;
  }
}

/* Custom Button Styling */
.xy-theme__button {
  display         : inline-flex;
  align-items     : center;
  justify-content : center;
  height          : 2.5rem;
  padding         : 0 1rem;
  border-radius   : 100px;
  border          : 1px solid var(--color-primary);
  background-color: var(--color-background);
  color           : var(--color-primary);
  transition      :
    background-color 0.2s ease,
    border-color 0.2s ease;
  box-shadow: var(--xy-node-boxshadow-default);
  cursor    : pointer;
}

.xy-theme__button.active {
  background-color: var(--color-primary);
  color           : white;
  border-color    : var(--color-primary);
}

.xy-theme__button.active:hover,
.xy-theme__button.active:active {
  background-color: var(--color-primary);
  opacity         : 0.9;
}

.xy-theme__button:hover {
  background-color: var(--xy-controls-button-background-color-hover-default);
}

.xy-theme__button:active {
  background-color: var(--color-hover-bg);
}

.xy-theme__button:disabled {
  color  : var(--color-disabled);
  opacity: 0.8;
  cursor : not-allowed;
  border : 1px solid var(--color-disabled);
}

.xy-theme__button>span {
  margin-right: 0.2rem;
}

/* Add gap between adjacent buttons */
.xy-theme__button+.xy-theme__button {
  margin-left: 0.3rem;
}

/* Example Input Styling */
.xy-theme__input {
  padding         : 0.5rem 0.75rem;
  border          : 1px solid var(--color-primary);
  border-radius   : 7px;
  background-color: var(--color-background);
  transition      :
    background-color 0.2s ease,
    border-color 0.2s ease;
  font-size: 1rem;
  color    : inherit;
}

.xy-theme__input:focus {
  outline     : none;
  border-color: var(--color-primary);
  box-shadow  : 0 0 0 2px rgba(255, 0, 115, 0.3);
}

/* Specific Checkbox Styling */
.xy-theme__checkbox {
  appearance        : none;
  -webkit-appearance: none;
  width             : 1.25rem;
  height            : 1.25rem;
  border-radius     : 7px;
  border            : 2px solid var(--color-primary);
  background-color  : var(--color-background);
  transition        :
    background-color 0.2s ease,
    border-color 0.2s ease;
  cursor        : pointer;
  display       : inline-block;
  vertical-align: middle;
  margin-right  : 0.5rem;
}

.xy-theme__checkbox:checked {
  background-color: var(--color-primary);
  border-color    : var(--color-primary);
}

.xy-theme__checkbox:focus {
  outline   : none;
  box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.3);
}

/* Dropdown Styling */
.xy-theme__select {
  padding         : 0.5rem 0.75rem;
  border          : 1px solid var(--color-primary);
  border-radius   : 50px;
  background-color: var(--color-background);
  transition      :
    background-color 0.2s ease,
    border-color 0.2s ease;
  font-size   : 1rem;
  color       : inherit;
  margin-right: 0.5rem;
  box-shadow  : var(--xy-node-boxshadow-default);
}

.xy-theme__select:focus {
  outline     : none;
  border-color: var(--color-primary);
  box-shadow  : 0 0 0 2px rgba(255, 0, 115, 0.3);
}

.xy-theme__label {
  margin-top   : 10px;
  margin-bottom: 3px;
  display      : inline-block;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width   : none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f9fafb;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background   : #f97316;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}